header{
    height: 180px;
    background: url(img/pattern.png);
    background-color: rgb(78,160,255);
}

.logo{
    width: 300px;
    padding-top: 100px;
}

h1{
    font-size: 50px;
}

.text-smaller{
    font-size: .75rem;
}

.booleaner{
    color: rgb(78,160,255);
}

.grey-text{
    color: grey;
}

.header-table{
    color: white;
    background-color: rgb(78,160,255);
}

.table-section{
    background-color: rgba(177,229,242);
}

.width-50{
    width: 50%;
}

thead{
    text-align: left;
}

table{
    border-collapse: collapse;
}

.box{
    height: 200px;
    width: 350px;
    color: white;
    font-size: 1.5rem;
}

.box-monitor{
    background-image: url(img/monitor.jpg);
}

.box-graph{
    background-image: url(img/graph.jpg);
}