header{
    height: 180px;
    background: url(img/pattern.png);
    background-color: rgb(78,160,255);
}

.logo{
    width: 300px;
    padding-top: 100px;
}

.title{
    font-size: 50px;
    display: block;
}

.booleaner{
    color: rgb(78,160,255);
}

.subtitle{
    color: grey;
}

.image{
    padding-top: 30px;
}

.test{
    margin-top: 0;
    display: block;
}